jimp_image_editing.json
[
    {
        "id": "a4908eaf25495f95",
        "type": "tab",
        "label": "Automatic putting text over image",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23fbf22a3b478275",
        "type": "watch",
        "z": "a4908eaf25495f95",
        "name": "pipresents image folder",
        "files": "/home/pi/pp_home/pp_live_tracks/Shelves",
        "recursive": true,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "2e879b9ae9778835"
            ]
        ]
    },
    {
        "id": "2e879b9ae9778835",
        "type": "delay",
        "z": "a4908eaf25495f95",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "4d369414e47190b8",
                "73f3d2b8e686914c"
            ]
        ]
    },
    {
        "id": "4d369414e47190b8",
        "type": "function",
        "z": "a4908eaf25495f95",
        "name": "Split string into substrings",
        "func": "var item = msg.payload;\nvar lastItem = item.split(\"/\").pop();\nvar product = lastItem.split(\"_\");\nconsole.log(lastItem); // three\nmsg.payload = lastItem\nmsg.name = lastItem\nglobal.set(\"name\",product[1]);\nglobal.set(\"price\", product[2])\nglobal.set(\"shelve\", product[0])\nglobal.set(\"font\", \"/usr/share/fonts/Mario-Kart-DS.ttf\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "c2b0f5c392a64055"
            ]
        ]
    },
    {
        "id": "1e6a9c84089369ac",
        "type": "image viewer",
        "z": "a4908eaf25495f95",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 810,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "55133d1295ff816e",
        "type": "delay",
        "z": "a4908eaf25495f95",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "73f3d2b8e686914c",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "Rescale for small screen",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "480",
        "parameter1Type": "num",
        "parameter2": "640",
        "parameter2Type": "num",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "scaleToFit",
        "selectedJimpFunction": {
            "name": "scaleToFit",
            "fn": "scaleToFit",
            "description": "scale the image to the largest size that fits inside the given width and height. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 550,
        "y": 260,
        "wires": [
            [
                "89c05743ef9c4ee8"
            ]
        ]
    },
    {
        "id": "89c05743ef9c4ee8",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "print product name on top",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "FONT_SANS_64_BLACK",
        "parameter1Type": "jimpFont",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "name",
        "parameter4Type": "global",
        "parameter5": "HORIZONTAL_ALIGN_CENTER",
        "parameter5Type": "AlignX",
        "parameter6": "VERTICAL_ALIGN_TOP",
        "parameter6Type": "AlignY",
        "parameter7": "480",
        "parameter7Type": "num",
        "parameter8": "640",
        "parameter8Type": "num",
        "sendProperty": "payload",
        "parameterCount": 8,
        "jimpFunction": "print2",
        "selectedJimpFunction": {
            "name": "print aligned",
            "fn": "print",
            "description": "Print text to the image",
            "parameters": [
                {
                    "name": "font|str",
                    "type": "jimpFont",
                    "required": true,
                    "hint": "font to print. NOTE: This can be one of the presets or the path to a fnt file"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "x coordinate to print text"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "y coordinate to print text"
                },
                {
                    "name": "text",
                    "group": "options",
                    "type": "str",
                    "required": true,
                    "hint": "text to print"
                },
                {
                    "name": "alignmentX",
                    "group": "options",
                    "type": "AlignX",
                    "required": false,
                    "hint": "X Alignment"
                },
                {
                    "name": "alignmentY",
                    "group": "options",
                    "type": "AlignY",
                    "required": false,
                    "hint": "Y Alignment"
                },
                {
                    "name": "maxWidth",
                    "type": "auto|num",
                    "required": false,
                    "hint": "wrap text at maxWidth"
                },
                {
                    "name": "maxHeight",
                    "type": "auto|num",
                    "required": false,
                    "hint": "max height"
                }
            ]
        },
        "x": 550,
        "y": 320,
        "wires": [
            [
                "a9a237fb1a5ada3f"
            ]
        ],
        "icon": "font-awesome/fa-image"
    },
    {
        "id": "a9a237fb1a5ada3f",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "print price at the bottom",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "FONT_SANS_128_WHITE",
        "parameter1Type": "jimpFont",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "price",
        "parameter4Type": "global",
        "parameter5": "HORIZONTAL_ALIGN_CENTER",
        "parameter5Type": "AlignX",
        "parameter6": "VERTICAL_ALIGN_BOTTOM",
        "parameter6Type": "AlignY",
        "parameter7": "480",
        "parameter7Type": "num",
        "parameter8": "640",
        "parameter8Type": "num",
        "sendProperty": "payload",
        "parameterCount": 8,
        "jimpFunction": "print2",
        "selectedJimpFunction": {
            "name": "print aligned",
            "fn": "print",
            "description": "Print text to the image",
            "parameters": [
                {
                    "name": "font|str",
                    "type": "jimpFont",
                    "required": true,
                    "hint": "font to print. NOTE: This can be one of the presets or the path to a fnt file"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "x coordinate to print text"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "y coordinate to print text"
                },
                {
                    "name": "text",
                    "group": "options",
                    "type": "str",
                    "required": true,
                    "hint": "text to print"
                },
                {
                    "name": "alignmentX",
                    "group": "options",
                    "type": "AlignX",
                    "required": false,
                    "hint": "X Alignment"
                },
                {
                    "name": "alignmentY",
                    "group": "options",
                    "type": "AlignY",
                    "required": false,
                    "hint": "Y Alignment"
                },
                {
                    "name": "maxWidth",
                    "type": "auto|num",
                    "required": false,
                    "hint": "wrap text at maxWidth"
                },
                {
                    "name": "maxHeight",
                    "type": "auto|num",
                    "required": false,
                    "hint": "max height"
                }
            ]
        },
        "x": 550,
        "y": 360,
        "wires": [
            [
                "1e6a9c84089369ac",
                "d05c19c9169385c5"
            ]
        ],
        "icon": "font-awesome/fa-image"
    },
    {
        "id": "7142c13ff038e20a",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_1/1.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b0f5c392a64055",
        "type": "string",
        "z": "a4908eaf25495f95",
        "name": "append \".jpg\" to shelve",
        "methods": [
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": ".jpg"
                    }
                ]
            }
        ],
        "prop": "shelve",
        "propout": "payload",
        "object": "global",
        "objectout": "msg",
        "x": 780,
        "y": 200,
        "wires": [
            [
                "c6c4ef8d8add6a3b"
            ]
        ]
    },
    {
        "id": "c6c4ef8d8add6a3b",
        "type": "debug",
        "z": "a4908eaf25495f95",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "d05c19c9169385c5",
        "type": "switch",
        "z": "a4908eaf25495f95",
        "name": "",
        "property": "shelve",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "7142c13ff038e20a"
            ],
            [
                "c402a191ee1bd236"
            ],
            [
                "c9ebcf2491a5524c"
            ],
            [
                "b454dce656879cbf"
            ],
            [
                "0efe3994a0306ef1"
            ],
            [
                "a2351403faba2047"
            ],
            [
                "af761c043c6defaa"
            ],
            [
                "fa0d20ab463ebd54"
            ],
            [
                "46d38bfb30f05303"
            ],
            [
                "5dfa0b184a944577"
            ]
        ]
    },
    {
        "id": "c402a191ee1bd236",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_2/2.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c9ebcf2491a5524c",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_3/3.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b454dce656879cbf",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_4/4.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0efe3994a0306ef1",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_5/5.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a2351403faba2047",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_6/6.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "af761c043c6defaa",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_7/7.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fa0d20ab463ebd54",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_8/8.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "46d38bfb30f05303",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_9/9.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5dfa0b184a944577",
        "type": "jimp-image",
        "z": "a4908eaf25495f95",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "/home/pi/pp_home/pp_live_tracks/Plateau_10/10.jpg",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 650,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a22586be01a5b107",
        "type": "comment",
        "z": "a4908eaf25495f95",
        "name": "Sync google drive folder with pipresents",
        "info": "This flow adds product name and price to images and puts it in the correct subfolder for pipresents to work with.\nIt is no longer necessary to put the image in the exact subfolder in google drive: node-red does the job.\n\nSteps:\n\n1   Take a picture\n2   Name it e.g. 1_STRAWBERRY_4 (1 = shelve number, STRAWBERRY = name product, 4 = price product)\n3   Put it in Google drive folder What_soup_1/Shelves\n\nSteps for the pi:\n1   Adjust the sync.sh file in the Documents folder:\n    rclone sync -v google_drive:Pipresents_shows/What_soup/What_soup_1/Shelves /home/pi/pp_home/pp_live_tracks/Shelves\n",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "ced7375ab6c4eb17",
        "type": "comment",
        "z": "a4908eaf25495f95",
        "name": "TODO",
        "info": "DIFFERENT FONTS\nEditing in Canva provides much nicer text FONTS.\nJimp can use different bitmap fonts to.  Still have to work this out.\nAUTOMATIC RESIZE\nAutomatically resizing product name text so it fills the screen width \nand goes to the next line if name is too long.",
        "x": 270,
        "y": 20,
        "wires": []
    }
]